@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  background: rgba(245, 245, 245, 0.846);
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* .scrolls::-webkit-scrollbar {
  width: 6px;
}
.scrollls::-webkit-scrollbar-thumb {
  width: 6px;
  background: red;
  border-radius: 50px;
} */
.input {
  outline: none;
  border: 1px solid rgb(236, 234, 234);
  width: 100%;
  padding: 0.7rem;
  font-size: 0.87rem;
  border-radius: 0.5rem;
}
.sidehd::before {
  content: "";
  border-width: 1.7rem;
  border-style: solid;
  border-color: transparent transparent #4f46e5 transparent;
  position: absolute;
  bottom: -1.1rem;
  /* z-index: -1; */
  left: 30%;
  transform: rotate(-40deg);
}
.sidelink {
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
  padding: 0.6rem;
  font-size: 0.9rem;
  gap: 1rem;
  margin-bottom: 0.3rem;
}
.sidelink1 {
  font-size: 0.9rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.3rem;
}
.sidelink1:hover {
  background-color:  #4f46e5;
  color: white;
}
.sidelink:hover {
  background: #4f46e5;
  color: white;
}
.bg-card {
  background-image: linear-gradient(to right top, #c3d16b, #ecb65f, #ff9974, #ff849b, #e380c5, #c28fe5, #92a0f9, #4faeff, #00c4ff, #00d8ff, #19ebfd, #5ffbf1);
}
.hmscreen::before {
  content: '';
  width: 80%;
  height: 1rem;
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.navprofile::before {
  content: '';
  position: absolute;
  top: -1.5rem;
  right: 30%;
  border-width: 1rem;
  border-style: solid;
  border-color: transparent rgb(79 70 229) rgb(79 70 229) transparent;
  /* rgb(79 70 229) */
}
.abgtag::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0rem;
  border-width: 4.1rem 4rem;
  border-style: solid;
  border-color: royalblue transparent transparent royalblue;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
